
* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #212121;
    line-height: 1.5;
}

body {
    margin: 0;
}



h1, h2, h3 {
    font-family: 'Grandstander', cursive;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #006540;
}



header {
    background-color: #006540;
    color: white;
    padding: 4rem 1rem;
}

footer {
    background-color: #4c4c4e;
    color: white;
    padding: 4rem 1rem;
    margin-top: 4rem;
}

header p, footer p {
    font-family: 'Grandstander', cursive;
    margin: 0;
}

header p {
    font-size: 2rem;
    font-weight: 700;
    font-variant: small-caps;
}

nav {
    background-color: #ececec;
    color: #006540;
    padding: 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li::after {
    content: " ยง ";
}

nav ul li:last-child::after {
    content: "";
}

nav ul li a {
    color: #e36414;
}


main {
    padding: 0 1rem;
}

main p {
    text-align: justify;
}

/* pagaidu titulbilde */
main article img {
    display: block;
    max-width: 100%;
}

article figure {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
}

article figure img {
    display: block;
    width: 100%;
}

article figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    padding: 0.5rem 1rem;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Grandstander', cursive;
}

table {
    border-collapse: collapse;
}

table th, table td {
    border-width: 0;
}

table tr th, table tr td {
    border-bottom: 1px solid #4c4c4c;
    /* border-top-width: 0; */
    border-right: 1px solid #4c4c4c;
    /* border-left-width: 0; */
    padding: 0.25rem 0.5rem;
}

table tr th:last-child, table tr td:last-child {
    border-right: none;
}

table tr:last-child th, table tr:last-child td {
    border-bottom: none;
}

table tr:nth-of-type(odd) th, table tr:nth-of-type(odd) td {
    background-color: #ececec;
}

.related-panel h3 {
    text-align: center;
}

.related-panel img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* darbvirsmas skats */
@media screen and (min-width: 992px) {

    html {
        font-size: 16px;
    }

    main {
        padding: 0;
    }

    .container {
        display: block;
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }

    .columns-2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
    }

    .columns-2 article {
        flex: 2;
        margin-right: 1rem;
    }
    .columns-2 aside {
        flex: 1;
    }

    .related-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }

}
