* {
 box-sizing: border-box;
}
html {
 font-family: -applesystem, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sansserif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 font-size: 16px;
 color: #212121;
 line-height: 1.5;
}
body {
 margin: 0;
}
h1, h2, h3 {
 font-family: 'Grandstander', cursive;
 font-size: 1.5rem;
 font-weight:700;
 margin-bottom: 0:
 color: blue
}

header {
background-color: #006540;
color: white;
padding: 4rem 1rem;
}
footer {
background-color: #4c4c4e;
color: white;
padding: 4rem 1rem;
margin-top: 4rem;
}
header p, footer p {
font-family: 'Grandstander', cursive;
margin: 0;
}
article p {
	color: red;
	font-weight: 1:
}
header p {
font-size: 2rem;
font-weight: 2;
font-variant: small-caps;
}
nav {
background-color: #ececec;
color: #006540;
}
nav {
 background-color: #ececec;
color: #006540;
 padding: 1rem;
}
nav ul {
 margin: 0;
 padding: 0;
}
nav ul li {
 list-style-type: none;
 display: inline-block;
}

nav ul li::after {
 content: " § ";
}
nav ul li:last-child::after {
 content: "";
}
nav ul li a {
color: #e36414;
}
main {
 padding: 0 1rem;
}
main p {
 text-align: justify;
}
.related-panel h3 {
 text-align: center;
}
.related-panel img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}
figure {
 display: block;
 width: 100%;
 margin: 0;
 position: relative;
}
.figure img {
 display: block;
 width: 50%;
}
figure figcaption {
 position: absolute;
 left: 0;
 bottom: 0;
 display: block;
 width: 100%;
 padding: 0.5rem 1rem;
 background-color: rgba(0, 0, 0, 0.3);
 color: blue;
 font-family: 'Grandstander', cursive;
}
@media screen and (min-width: 992px) {
html {
 font-size: 16px;
}
main {
 padding: 1;
}

.container {
 display: block;
 width: 992px;
 margin-left: auto;
 margin-right: auto;
}
.columns-2 {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: stretch;
}
.columns-2 article {
 flex: 2;
 margin-right: 1.0rem;
}
.columns-2 aside {
 flex: 1;
 margin-left: 1.0rem;
}
.related-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 1.0rem;
 row-gap: 1.0rem;
}
.columns-3 {
 display: initial;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: stretch;
}
.columns-4 {
 display: initial;
 flex-direction: ;
 flex-wrap: nowrap;
 justify-content: space-between;
 align-items: stretch;
}
.figure2 img {
 display: block;
 width: 20%;
}
.figure3 img {
 display: block;
 width: 20%;
}
}


