
* {
    box-sizing: border-box;
   }

   html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #212121;
    line-height: 1.5;
   }

   body {
    margin: 0;
   }

   h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #1b054e;

   }

    header {
    background-color: #1b054e;
    color: white;
    padding: 4rem 1rem;
    }

    footer {
    background-color: #4c4c4e;
    color: white;
    /*padding: 4rem 1rem; */
    margin-top: 4rem;
    min-width:100%;
    padding:15px;
    text-align: center;
    }

    footer p {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    padding:15px;
    
    }

    header p {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    }

    header p {
    font-size: 2rem;
    font-weight: 700;
    font-variant: small-caps;
    }
    nav {
    background-color: #ececec;
    color: #006540;
    padding: 1rem;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav ul li {
        list-style-type: none;
        display: inline-block;
    }
    nav ul li::after {
        content: " ยง ";
    }
    nav ul li:last-child::after {
        content: "";
    }
    nav ul li a {
        color: #e36414;
    }

    main {
        padding: 0 1rem;
       }
       main p {
        text-align: justify;
    }

    .related-panel h3 {
        text-align: center;
       }

    .related-panel img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    figure {
        display: block;
        width: 100%;
        margin: 0;
        position: relative;
    }
    figure img {
        display: block;
        width: 100%;
    }

    figure figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        font-family: 'Oswald', sans-serif;
    }
    @media screen and (min-width: 992px) {
        
        .container {
            display: block;
            width: 992px;
            margin-left: auto;
            margin-right: auto;
        }
         
        .columns-2 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
           }
        .columns-2 article {
            flex: 2;
            margin-right: 0.5rem;
           }
    
        .columns-2 aside {
            flex: 1;
            margin-left: 0.5rem;
        }
    
        .related-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
        }
    
        table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            text-align: center;
            height: 70px;
        }

        html {
            font-size: 16px;
           }
        main {
            padding: 0;
        }
        
    }
    
    
    