<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="information about HappyPC computer workshop">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Alex Strazds">
        <title>HappyPC</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>

        <main>

            <header class="showcase">

                <div class="logo"></div>
                <nav class="menu">

                    <ul>
                        <li><a href="">PC Builder</a></li>
                        <li><a href="">Build Guides</a></li>
                        <li><a href="">Completed Builds</a></li>
                        <li><a href="">Forums</a></li>
                        <li><a href="">Order computer assembly</a></li>
                    </ul>

                </nav>

            </header>

            <section class="showcase-banner">

                <div class="text-box1">
                    <h2>Build and order your PC</h2>
                    <h3>with "one click"</h3>
                    <p>read more about our company</p>
                    <a href="">ABOUT</a>
                </div>

                <video src="../static/videos/msi-1.mp4" muted loop autoplay></video>
                <ul class="social">
                    <li><a href=""><img src="../static/images/facebook.png" alt=""></a></li>
                    <li><a href=""><img src="../static/images/instagram.png" alt=""></a></li>
                    <li><a href=""><img src="../static/images/twitter.png" alt=""></a></li>
                    <li><a href="https://www.youtube.com/c/DaniilGerasimov"><img src="../static/images/youtube.png" alt=""></a></li>
                </ul>
                
            </section>
            
            <article class="showcase-table">

                <aside>
                    <h2>Working dates</h2>
                    <div>february 2023</div>
                    <table>
                        <colgroup>
                            <col style="background-color: #fff" span="7"/>
                        </colgroup>
                        <tr>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="date"><b>1</b></div>
                            </td>
                            <td>
                                <div class="date"><b>2</b></div>
                            </td>
                            <td>
                                <div class="date"><b>3</b></div>
                            </td>
                            <td>
                                <div class="date"><b>4</b></div>
                            </td>
                            <td>
                                <div class="date"><b>5</b></div>
                            </td>
                            <td>
                                <div class="date"><b>6</b></div>
                            </td>
                            <td>
                                <div class="date"><b>7</b></div>
                            </td>
                        </tr>  
                        </tr>
                        <tr>
                            <td>
                                <div class="date"><b>8</b></div>
                            </td>
                            <td>
                                <div class="date"><b>9</b></div>
                            </td>
                            <td>
                                <div class="date"><b>10</b></div>
                            </td>
                            <td>
                                <div class="date"><b>11</b></div>
                            </td>
                            <td>
                                <div class="date"><b>12</b></div>
                            </td>
                            <td>
                                <div class="date"><b>13</b></div>
                            </td>
                            <td>
                                <div class="date"><b>14</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="date"><b>15</b></div>
                            </td>
                            <td>
                                <div class="date"><b>16</b></div>
                            </td>
                            <td>
                                <div class="date"><b>17</b></div>
                            </td>
                            <td>
                                <div class="date"><b>18</b></div>
                            </td>
                            <td>
                                <div class="date"><b>19</b></div>
                            </td>
                            <td>
                                <div class="date"><b>20</b></div>
                            </td>
                            <td>
                                <div class="date"><b>21</b></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="date"><b>22</b></div>
                            </td>
                            <td>
                                <div class="date"><b>23</b></div>
                            </td>
                            <td>
                                <div class="date"><b>24</b></div>
                            </td>
                            <td>
                                <div class="date"><b>25</b></div>
                            </td>
                            <td>
                                <div class="date"><b>26</b></div>
                            </td>
                            <td>
                                <div class="date"><b>27</b></div>
                            </td>
                            <td>
                                <div class="date"><b>28</b></div>
                            </td>
                        </tr>
                        
                    </table>
                </aside>
            </article>

            <p class="text-box2">
                <em> <b>Happypc computer workshop</b></em> Without computers, it is impossible to imagine 
                a modern human life, so when devices are broken, their owners are trying to bring them 
                together as quickly as possible to return to their normal lifestyle and active activities.
                The HappyPC computer network offers professional computer assistance and repair of computers
                and laptops in Belotown. Our customers can be confident about the efficiency and high quality
                of the repairs they have done, and only the setting-up of high-quality kits. We are not
                screwing up prices because we are interested in expanding our customers, and in addition,
                operativity, precision and professional approach have taken the basic principles of their actions.
            </p>

        </main>

        <div class="text-box3">
            <h2>Completed Builds</h2>
        </div>

        <section class="main-content">

            <section class="showcase-card">
                <h2>3d benching pc (copege)</h2>
                <img src="../static/images/407641.58fb2ccda5b50dba9a9d8bf5ba5cb5e5.1600.jpg" alt="">
                <p>Intel Core i9-12900K</p>
                <p>GeForce RTX 3090 Ti</p>
            </section>

            <section class="showcase-card">
                <h2>1 of 1</h2>
                <img src="../static/images/407642.cdfb53c5640dafc4d38b071f6ed90d32.512.jpg" alt="">
                <p>Intel Core i7-12700K</p>
                <p>GeForce RTX 3080 10GB LHR</p>
            </section>

            <section class="showcase-card">
                <h2>Handly Boy</h2>
                <img src="../static/images/407654.ff58f0a048ed4ab34bd8eac52aff482d.512.jpg" alt="">
                <p>Intel Core i7-9700K</p>
                <p>GeForce RTX 2070 SUPER</p>
            </section>

            <section class="showcase-card">
                <h2>First Build - Hail Mary</h2>
                <img src="../static/images/407632.ed732d8abb4819be7c1ba8fff031a0f1.512.jpg" alt="">
                <p>Intel Core i9-12900KF</p>
                <p>GeForce RTX 3090 Ti</p>
            </section>

        </section>
        
        <footer>

            <p>
                The HappyPC computer  works well since <b> November 2018 </b>.<br> During that time, we served hundreds
                of users at the highest level and received a lot of positive reviews. 
            </p>

        </footer>
    </body>
</html>